# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Uploads / temp data
uploads/
*.log

# Byte-compiled
*.pyo
*.pyd
